{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayCentral Waitlist</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <div>
            <h2>WELCOME TO PayCentral</h2>
            <h4>Where Payments Meet Simplicity!</h4>
        </div>
    </header>
    <div class="container">
        <div>
            <h1>Hey {{name}},</h1>
            <p>Thank you for signing up to join our waitlist. We're thrilled to have you on board and eager to share the
                exciting opportunities that await you. PayCentral is committed to revolutionizing the way businesses
                manage payments, and we're thrilled to have you join us on this journey.</p>
        </div>
        <div class="what-coming">
            <div>
                <h2>What's Coming:</h2>
            </div>
            <div class="list">
                <ul>
                    <h3>🚀 Exclusive Early Access:</h3>
                    <li>As a valued member of our waitlist, you'll be among the first to access PayCentral when we launch. Get ready to experience the future of streamlined payment solutions!</li>
                </ul>
                <ul>
                    <h3>💡 Stay Informed:</h3>
                    <li>We'll keep you updated with the latest developments, sneak peeks, and insider insights. You're part of an exclusive community eager to embrace innovation.</li>
                </ul>
                <ul>
                    <h3>🎁 Special Rewards:</h3>
                    <li>To express our gratitude for your early interest, we have some special rewards and offers reserved just for our waitlist members. Stay tuned for details!</li>
                </ul>
            </div>
        </div>


        <div class="do-now">
            <div>
                <h2>What You Can Do Now:</h2>
            </div>
            <div class="list">
                <ul>
                    <h3>👥 Spread the Word:</h3>
                    <li>Share the excitement! Invite your network to join the PayCentral waitlist and be part of the payment revolution.</li>
                </ul>
                <ul>
                    <h3>📣 Connect with Us:</h3>
                    <li>Follow us on <a href="https://www.linkedin.com/company/paycentralapp/" target="_blank">Linkedin</a>, <a href="https://www.instagram.com/paycentralapp/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank">Instagram</a>, <a href="https://twitter.com/paycentralapp?s=09" target="_blank">X a.ka twitter</a> for real-time updates, behind-the-scenes glimpses, and engaging content. We'd love to connect with you!</li>
                </ul>
                <ul>
                    <h3>📧 Questions or Feedback:</h3>
                    <li>Have questions or suggestions? We'd love to hear from you. Simply reply to this email, and our team will be happy to assist.</li>
                </ul>
                <div>
                    <p>Thank you once again for choosing PayCentral. Together, we're shaping the future of payments.</p>
                </div>
            </div>
        </div>



        <div class="salute">
            <p>Best regards, </p>
            <p>PayCentral Team</p>
        </div>
    </div>
    <footer>
        <div>
            <p>Sent by PayCentral - check our <a href="https://www.linkedin.com/company/paycentralapp/" target="_blank">Linkedin</a> • <a href="https://www.instagram.com/paycentralapp/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank">Instagram</a> • <a href="https://twitter.com/paycentralapp?s=09" target="_blank">X</a> </p>
            <p>FCT Abuja.</p>
        </div>
    </footer>
</body>

</html>