<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="background-color: #311b92; font-family: Arial, sans-serif; color: #ffffff; text-align: center;">
    <div style="background-color: #673ab7; padding: 20px;">
        <h1 style="color: #ffffff;">Welcome, {{name}}</h1>
    </div>
    <div style="padding: 20px;">
        <p>Welcome to Paycentral, please verify your email with the link below</p>
        <a href="https://davidinmichael.pythonanywhere.com/account/verify/{{token}}" style="
        display: block; padding: 1rem; text-decoration: none; color: white; background-color: black;">Verify Email</a>
    </div>
</body>
</html>